<h2> <%=@user.username%> </h2>

 <section id="PlacesTable">
            <div class="container">
                <div class="full-width">
                    <div class="small-padding">
                        <h2 class="purple-underline small-bottom-padding">Places</h2>
                    </divs>
                </div>
                <div class="half">
                    <div class="small-padding">
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Category</th>
                                    <th>Zipcode</th>
                                    <th>City</th>
                                    <th>Bookmark It!</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% Place.all.each do |place| %> 
                                <tr>
                                    <td> <%= place.name %> </td>
                                    <td> <%= place.address %> </td>
                                    <td> <%= place.category %> </td>
                                    <td> <%= place.zipcode %> </td>
                                    <td> <%= place.city %> </td>
                                    <td>
                                        <% hasbookmark = false %> 
                                        <% @user.bookmarks.each do |bookmark| %>
                                            <% if bookmark.place_id == place.id %>
                                               <% hasbookmark = true %> 
                                            <%end%> 
                                        <%end%>
                                        <% if hasbookmark %>
                                        &#10004;
                                        <%else%> 
                                            <form action="/bookmark" method="post">
                                              <button type="submit" name="Bookmark" value=<%=place.id%> class="btn-link">Go</button>
                                            </form>
                                        <%end%>
                                    </td>


                                </tr>
                              <%end%>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>